{% extends 'base.html.twig' %}

{% block title %}Accueil - Stubborn{% endblock %}

{% block content %}
    {% for message in app.flashes('debug') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <div class="featured-products">
        <div class="products-container">
            {% for product in featuredProducts %}
                <div class="product">
                    <img src="{{ product.image is not null ? asset(product.image) : asset('images/default.jpg') }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <p>Prix : {{ product.price }} €</p>
                </div>
            {% else %}
                <p>Aucun produit en avant.</p>
            {% endfor %}
        </div>
    </div>


    {% if isLoggedIn is defined and isLoggedIn %}
        <p>Bienvenue, vous êtes connecté !</p>
    {% else %}
        <p>Bienvenue sur notre site, veuillez vous connecter.</p>
    {% endif %}
    
    {% include 'company_info.html.twig' %}
{% endblock %}
