{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="form-container">

    {# Affichage des messages flash #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
    <h2>S'inscrire</h2>
    <hr class="divider">

    <label for="username">Nom utilisateur:</label>
    {{ form_widget(form.username) }}

    <label for="email">Adresse mail:</label>
    {{ form_widget(form.email) }}

    <label for="address">Adresse de livraison:</label>
    {{ form_widget(form.address) }}

    <label for="password">Mot de passe:</label>
    {{ form_widget(form.password) }}

    <label for="confirm_password">Confirmer le mot de passe:</label>
    {{ form_widget(form.confirm_password) }}

    <br><br>

    <button type="submit" class="btn">Créer un compte</button>

    <hr class="divider">
    <p class="already-registered">Déjà inscrit ?</p>
    <a href="{{ path('security_login') }}" class="btn">Se Connecter</a>

    {{ form_end(form) }}
</div>
{% endblock %}