{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
{% endblock %}

{% block content %}
        <div class="sidebar" style="width: 200px; border: 1px solid #ddd; padding: 10px; background: #f8f8f8; margin-bottom: 20px;">
            <strong>Fourchette de prix :</strong>
            <hr>
            <div class="price-range-item" style="padding: 5px; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(80, 176, 211)';" onmouseout="this.style.backgroundColor='';">10 à 29€</div>
            <div class="price-range-item" style="padding: 5px; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(80, 176, 211)';" onmouseout="this.style.backgroundColor='';">30 à 35€</div>
            <div class="price-range-item" style="padding: 5px; cursor: pointer;" onmouseover="this.style.backgroundColor='rgb(80, 176, 211)';" onmouseout="this.style.backgroundColor='';">35 à 50€</div>
        </div>
    <div class="product-grid">
    {% if products is defined and products is not empty %}
        {% for product in products %}
            <div class="product-container">
                <div class="product-image-container">
                    {% if product.image %}
                        <img src="{{ asset(product.image) }}" alt="{{ product.name }}" class="product-image" style="width: 100%;">
                    {% else %}
                        <p>Aucune image disponible</p>
                    {% endif %}
                </div>

                <div class="product-details" style="display: flex; flex-direction: column; align-items: center; width: 100%;">
                    <div style="display: flex; justify-content: space-between; width: 100%;">
                        <div>
                            <h1 class="product-name">{{ product.name }}</h1>
                            <p class="product-price" style="margin-top: 5px;"><strong>Prix :</strong> {{ product.price }} €</p>
                        </p>
                        </div>
                    <div class="add-to-cart-wrapper" style="margin-left: auto; margin-top: 10px;">
                        <input type="hidden" name="_token" value="{{ csrf_token('add_to_cart') }}">
                        <button onclick="window.location.href='{{ path('app_product_show', { 'id': product.id }) }}'" class="btn" style="margin-left: auto;">Voir</button>
                        <p class="success-message" style="display:none;">Produit ajouté au panier avec succès!</p>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>Aucun produit disponible</h1>
        <p>Nous n'avons actuellement aucun produit en stock. Veuillez revenir plus tard.</p>
    {% endif %}
    </div>
{% endblock %}
